[submodule "extern/soglu"]
	path = extern/soglu
	url = git@github.com:JanKolomaznik/soglu.git
[submodule "extern/vorgl"]
	path = extern/vorgl
	url = git@github.com:JanKolomaznik/vorgl.git
[submodule "extern/cugip"]
	path = extern/cugip
	url = git@github.com:JanKolomaznik/cugip.git
[submodule "extern/tfw"]
	path = extern/tfw
	url = git@github.com:JanKolomaznik/tfw.git
[submodule "extern/prognot"]
	path = extern/prognot
	url = git@github.com:JanKolomaznik/prognot.git
[submodule "extern/qtwidgets"]
	path = extern/qtwidgets
	url = git@github.com:JanKolomaznik/qtwidgets.git
